.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1); /* Light background for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: url('/public/project-bg.jpg') no-repeat center center/cover;
  }
  
  .project-description {
    flex: 1;
    padding-right: 6rem;

  }
  
  .project-description h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .project-description p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  
  .project-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; /* Adjust gap between images */
  }
  
  .project-image img {
    max-width: 300px; /* Adjust image width */
    max-height: 200px; /* Adjust image height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .project1-image-2 img {

  }

  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-top: 1rem; /* Add space above the button */
    margin-left: 10rem;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.2em;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .project1 button {
    margin-left: 7rem;
  }
  
  .project2 button {
    margin-left:7rem
  }
  
  .project3 button {
    background: #0000ff; /* Example: Blue button for project 3 */
  }