/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  background-size: cover;
  background-position: center;
}

.intro-content {
  text-align: left;
}

.intro-title {
  font-size: 5rem; 
  font-weight: bold; 
  margin-bottom: 1rem; 
  color:#fff;
  
}

.buttons {
  display: flex;
  gap: 1rem; 
}


button:not(.back-button):not(.view-all-button) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:not(.back-button):not(.view-all-button)::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:not(.back-button):not(.view-all-button):hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button:not(.back-button):not(.view-all-button) span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:not(.back-button):not(.view-all-button):hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10.2rem; 
  border-radius: 0 0 5px 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 10;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  width: 100%;
  padding: 0.5rem 1rem; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #fff; 
  z-index:2;
  position: relative;
}

.dropdown-item:hover {
  background-color: #ffd401; 
  color: #183153; 
}

.dropdown:hover .dropdown-item {
  color: #fff; 
}


.linkedin-btn {
  background-color: #183153; 
}

.linkedin-btn:hover {
  background-color: #005582; 
}

.projects-section {
  height: 100vh;
  padding: 2rem; 
  background-size: cover;
  background-position: center;
  color:#fff
}

.projects-title {
  font-size: 1.875rem; 
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #fff;
}

.project {
  margin-bottom: 2rem;
}

.project-title {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

#root, #app, #content {
  height: 100%;
  overflow: hidden;
}

