/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  background-size: cover;
  background-position: center;
}

.intro-content {
  text-align: left;
}

.intro-title {
  font-size: 5rem; /* Tailwind text-4xl */
  font-weight: bold; /* Tailwind font-bold */
  margin-bottom: 1rem; /* Tailwind mb-4 */
  color:#fff;
  
}

.buttons {
  display: flex;
  gap: 1rem; /* Tailwind space-x-4 */
}

/* Custom button styles */
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10.2rem; /* Adjusted width */
  border-radius: 0 0 5px 5px; /* Rounded bottom corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind shadow-lg */
  z-index: 10;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  width: 100%;
  padding: 0.5rem 1rem; /* Tailwind px-4 py-2 */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #fff; /* Default color */
  z-index:2;
  position: relative;
}

.dropdown-item:hover {
  background-color: #ffd401; /* Yellow background on item hover */
  color: #183153; /* Darker color on item hover */
}

.dropdown:hover .dropdown-item {
  color: #fff; /* White color when the button is hovered */
}


.linkedin-btn {
  background-color: #183153; /* LinkedIn blue */
}

.linkedin-btn:hover {
  background-color: #005582; /* Darker LinkedIn blue */
}

.projects-section {
  height: 100vh;
  padding: 2rem; /* Tailwind p-8 */
  background-size: cover;
  background-position: center;
  color:#fff
}

.projects-title {
  font-size: 1.875rem; /* Tailwind text-3xl */
  font-weight: bold; /* Tailwind font-bold */
  margin-bottom: 1rem; /* Tailwind mb-4 */
  color: #fff;
}

.project {
  margin-bottom: 2rem; /* Tailwind mb-8 */
}

.project-title {
  font-size: 1.5rem; /* Tailwind text-2xl */
  font-weight: bold; /* Tailwind font-bold */
  margin-bottom: 0.5rem; /* Tailwind mb-2 */
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire viewport */
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

#root, #app, #content {
  height: 100%;
  overflow: hidden;
}